:root {
  --color-bg: #bdc9ff;
  --color-text-main: #000000;
  --color-blue: #2800ff;
  --color-primary: #afece0;
  --color-red: #e63946;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin: 4rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-text-main);
  text-decoration: none;
  border-style: none;
}

.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1rem;
}

.instructions {
  margin-top: 0.5rem;
}

.instructions p {
  font-size: 1rem;
}

h2,
h3 {
  color: var(--color-blue);
}

.title {
  color: var(--color-blue);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 105%;
  margin: 2rem 0 0;
}

.status {
  display: flex;
  width: 68vmin;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.25rem;
}

.button-reset:hover {
  cursor: pointer;
  box-shadow: -8px 4px 20px #9be7d8;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.button-play:hover {
  cursor: pointer;
  background-color: #d0fff1;
}

.board {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 22vmin);
  grid-template-rows: repeat(3, 22vmin);
  gap: 1vmin;
  background-color: var(--color-bg);
  opacity: 0;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cell {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(30, 12, 196, 0.24) 0px 1px 2px;
}

.cell.X::before,
.cell.X::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 15vmin;
  height: 2vmin;
  background-color: var(--color-red);
}

.cell.X::before {
  top: 50%;
  left: 50%;
  -webkit-animation: scale-in-center-l 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center-l 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cell.X::after {
  top: 50%;
  left: 50%;
  -webkit-animation: scale-in-center-r 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center-r 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cell.O::before,
.cell.O::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  border: 2vmin solid var(--color-blue);
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-26 14:33:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center before & after
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center-l {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center-l {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center-r {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center-r {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    -webkit-filter: translate(-50%, -50%) blur(4px);
    filter: translate(-50%, -50%) blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-filter: translate(-50%, -50%) blur(0px);
    filter: translate(-50%, -50%) blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    -webkit-filter: translate(-50%, -50%) blur(4px);
    filter: translate(-50%, -50%) blur(4px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-filter: translate(-50%, -50%) blur(0px);
    filter: translate(-50%, -50%) blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8rem;
  background-color: white;
  border: 2px solid var(--color-text-main);
  padding: 2rem 4rem;
  z-index: 1000;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: none;
  /* Initially hidden */
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win-image {
  width: 10.8375rem;
  height: 16.3125rem;
  display: none;
}

.draw-image {
  width: 13.8375rem;
  height: 15.3125rem;
  display: none;
}

.popup-message {
  font-size: 4rem;
  color: var(--color-blue);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
}

.popup button {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
  display: none;
}

.draw-animation {
  -webkit-animation: scale-in-center 0.9s both;
  animation: scale-in-center 0.9s both;
}

.win-animation {
  -webkit-animation: scale-in-center 0.9s both;
  animation: scale-in-center 0.9s both;
  -webkit-animation: flip-scale-down-ver 0.8s linear both;
  animation: flip-scale-down-ver 0.8s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 14:21:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-down-ver
 * ----------------------------------------
 */
@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }

  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}

@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0);
  }

  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg);
  }

  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg);
  }
}
